.donate-now {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;
  }
  
  .donate-now li {
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
  }
  
  .donate-now label,
  .donate-now input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .donate-now input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
  }
  
  .donate-now input[type="radio"]:checked+label,
  .Checked+label {
    background: rgb(83, 70, 206);
    color: white;
    border: 2px solid black;
  }
  
  .donate-now label {
    padding: 5px;
    border: 2px dashed black;
    cursor: pointer;
    z-index: 90;
    text-align: center;
    color: black;
  }
  
  .donate-now label:hover {
    background: #DDD;
  }

  .video-container{
    float: right;
  }
  .container{
    width: 246px;
    height: 248px;
    overflow:hidden;
    display:block;
    margin-right: 2px;
    border: 4px solid black;
    float: left;
}
   #video1,
   #video2{
    margin-left: -94px;
    margin-top: -38px;
   }

h1{
    text-align: center;
}
