body {
    background: #e0e0e0
}

.anchor-target:target::before {
    display: block;
    content: " ";
    margin-top: -70px;
    padding-top: 70px;
    visibility: hidden;
    pointer-events: none;
}

.vcremph {
    font-family: 'Monoton', monospace;
    font-weight: 500;
}

.primarycontainer {
    background-color: #fbfbfb;
    box-shadow: 0px 0px 20px 2px rgba(120, 120, 120, 0.1);
    padding-top: 1rem;
    /*border-radius: .4rem;*/
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    /*font-family: 'Permanent Marker', cursive;*/
}

h1 img::after {
    margin-right: 20px;
}

h2 {
    font-weight: 200;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.img-container {
    position: relative;
    display: inline-block;
    align-items:center;
    justify-content: center;
    text-align: center;
}

.annotimage {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: .3rem;
}

.drawing-class {
    height: 0;
}

.segmentation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.buttonrow > button {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;

}

.image-toggle {
    border-color: #000;
    white-space: normal;
    color: #fff;
}

#teaser {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.headshot {
    width: 10rem;
    margin: 1rem;
}

.card-body {
    padding: 0.5rem;
    padding-left: 15px;
    padding-right: 15px
}

#rationalex {
    font-style: italic;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.fig-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .15);
}

#exampless {
    font-size: 1.4rem;
}

.msg {
    margin-bottom: 0;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.answergroup {
    font-size: 0.5rem;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}

.answerbutton {
    font-size: .9rem;
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
}

.person {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: #000000;
}

.person img {
    vertical-align: middle;
    display: inline-block;
    height: 1.8rem;
}

.answerbutton > .person img {
    vertical-align: middle;
    display: inline-block;
    height: 1.2rem;
}

#intropara > .person img {
    vertical-align: middle;
    display: inline-block;
    height: 1.2rem;
}

.clicked-correct:hover {
    color: #000;
    background-color: #c8e7ff;
    /*border-color: #55ecff;*/
}

.clicked-correct {
    color: #000;
    background-color: #c8e7ff;
    /*border-color: #55ecff;*/
}

.clicked-wrong:hover {
    color: #000;
    background-color: #c89a9d;
    /*border-color: #c88a8f;*/
}

.clicked-wrong {
    color: #000;
    background-color: #c88a8f;
    /*border-color: #c88a8f;*/
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
}

.img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 40%;
}

.bg-dark {
    background-color: #5c626e !important;
}

.navbar-dark .navbar-toggler {
    border-width: 3px;
    border-color: rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.nav-item-header {
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    height: 1rem;
    /*margin-left: 0.5rem;*/
    /*margin-right: 0.5rem;*/
    background-color: #f26a5e;
}

.navbar-dark .navbar-nav .nav-item {
    background-color: #464a4c;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    background-color: #E6E6E6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
    font-size: 1.6rem;
    /*margin-left: 0rem;*/
    /*margin-right: 0.5rem;*/
    font-weight: 100;
    padding-top: 0.1rem;
    padding-bottom: 0.4rem;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .open .dropdown-toggle.nav-link {
    color: black;
    background-color: white;
    border-color: #464a4c;
}

.navbar-dark .navbar-nav .nav-item:hover,
.navbar-dark .navbar-nav .nav-item:focus,
.navbar-dark .navbar-nav .nav-item.active,
.navbar-dark .navbar-nav .open .dropdown-toggle.nav-item {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.active,
.open .dropdown-toggle.navbar-dark .navbar-nav .nav-link {
    background-image: none;
}

.navbar-dark .navbar-nav .nav-link.disabled,
.navbar-dark .navbar-nav .nav-link[disabled],
fieldset[disabled] .navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.disabled:hover,
.navbar-dark .navbar-nav .nav-link[disabled]:hover,
fieldset[disabled] .navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.disabled:focus,
.navbar-dark .navbar-nav .nav-link[disabled]:focus,
fieldset[disabled] .navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link.disabled.active,
.navbar-dark .navbar-nav .nav-link[disabled].active,
fieldset[disabled] .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.disabled.active,
.navbar-dark .navbar-nav .nav-link[disabled].active,
fieldset[disabled] .navbar-dark .navbar-nav .nav-link.active {
    background-color: #E6E6E6;
    border-color: #464a4c;
}

.navbar-dark .navbar-nav .nav-link .badge {
    color: #E6E6E6;
    background-color: #000000;
}

ul.icon {
    list-style-type: none;
}

ul.icon li {
    text-indent: -1.6em;
    margin: 0.25em 2em;
}

ul.icon li:before {
    content: "ðŸ“¼ ";
    float: left;
    width: 1.8em;
}


.contentblock {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.shaded {
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #fafafa;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

footer .container {
    margin-top: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgba(120, 120, 120, 0.1);
    text-align: right;
    color: darkslategray;
}

footer .container a {
    color: slateblue;
}

footer .container a:hover {
    color: darkslateblue;
}

#globalbutton > button {
    margin: 0.1rem;
}

.annotationrow {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed darkgray;
}

@media (min-width: 768px) {
    #vcrlogo {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 150px;
    }
}

.citation {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

iframe.hidden
{
    display:none
}

